{% extends 'portfolio.html' %}

{% block content %}

<div class="col-12 col-lg-7">
  <div class="content-area">
    <div class="comments-form">
        <div class="comment-respond">
            <h3 class="comment-reply-title">Leave a comment</h3>
            <form class="comment-form">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="url" placeholder="Website">
                <textarea rows="4" placeholder="Messages"></textarea>
                <input type="submit" value="send message">
            </form><!-- .comment-form -->
        </div><!-- .comment-respond -->
    </div><!-- .comments-form -->
  </div>
</div>



{% endblock %}
